<div id="wrapper">
  <div id="header">
    <%= image_tag("index/bg-sunburst.png", :alt => "header_bg", :class => "banner", :width => "100%", :height => "586px") %>
    <div id="auto">
      <div id="banner_logo">
        <%= image_tag("common/Jimi.png", :id => "jimi") %>
        <%= image_tag("common/Technology.png", :id => "Tec") %>
        <%= image_tag("index/IT.png", :id => "IT") %>
      </div>
    </div>
  </div>
  <div id="main">
    <ul>
      <li class="obj">
        <a href="./pages/it-page.html" target="_self">
          <%= image_tag("index/1.1.png", :class => "obj_left") %>
        </a>
        <a href="./pages/it-page.html" target="_self">
          <%= image_tag("index/1.2.png", :class => "obj_right") %>
        </a>
        <p>用我们的专业服务<br />带给您更好的IT体验<br />
          <span><a href="./pages/it-page.html" target="_self">了解更多&gt;&gt;</a></span>
        </p>
      </li>
      <li class="obj" id="middle">
        <a href="./pages/tailor-made.html" target="_self">
          <%= image_tag("index/2.1.png", :class => "obj_left", :width => "70px", :height => "70px") %>
        </a>
        <a href="./pages/tailor-made.html" target="_self">
          <%= image_tag("index/2.2.png", :class => "obj_right") %>
        </a>
        <p>让系统更加定制化<br />更加适合您的发展<br />
          <span><a href="./pages/tailor-made.html">了解更多&gt;&gt;</a></span>
        </p>
      </li>
      <li class="obj">
        <a href="./pages/data-analysis.html" target="_self">
          <%= image_tag("index/3.1.png", :class => "obj_left", :width => "66px", :height => "66px") %>
        </a>
        <a href="./pages/data-analysis.html" target="_self">
          <%= image_tag("index/3.2.png", :class => "obj_right") %>
        </a>
        <p>用数据说话<br />迎接“大数据”时代<br />
          <span><a href="./pages/data-analysis.html" target="_self">了解更多&gt;&gt;</a></span>
        </p>
      </li>
    </ul>
  </div>
  <div id="footer">
    <div id="jimi_formation">
      <p><span class="footer_left">联系我们：</span><span class="footer_right follow_our">关注我们：</span></p>
      <p><span class="footer_left">地址：河北省石家庄市富强大街49号&nbsp;&nbsp;电话：15690300432</span><span class="footer_right follow_our"><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" target="_blank"><img src="./images/common/sina.png" width="20%" /></a><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" class="follow" target="_blank">新浪微博</a> </span></p>
      <p><span class="footer_left">e-mail:jimiwangluo@jimitec.com</span><span class="footer_right"><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" target="_blank">@JimiTec</a><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" target="_blank"><img class="follow" src="./images/common/follow.png" width="35%" /> </a></span></p>
      <p>&copy;2013几米网络科技有限公司&nbsp;&nbsp;<a id="website" href="http://www.jimitec.com">www.jimitec.com</a>&nbsp;&nbsp;All&nbsp;rights&nbsp;&nbsp;reserved.</p>
    </div>
  </div>
</div>
